html{
    scroll-behavior: smooth; }
body{
    margin: 0;
    font-family: Lato, Verdana; }
* {
    outline: none !important; }
::-moz-selection {
    background-color: transparent; }
::selection {
    background-color: transparent; }
.noGapTop {
    margin-top: -8px; }
.noGapBottom {
    margin-bottom: -10px; }

#Home {
    opacity: 0.8;
    height: 1000px;
    background-image: url("./images/laptopSmartphone.jpg");
    background-size: cover;
    background-attachment: fixed; }

.centerText {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.selfie {
    opacity: 0.7;
    transition: 0.5s; }
.selfie:hover {
    opacity: 1;
    transition: 0.5s; }

.project {
    transition: 0.5s; }
.project:hover {
    opacity: 0.6;
    transition: 0.5s }

@media screen and (max-width: 968px) {
    .hide {
        display: none; } }

#secondParallax {
    height: 600px;
    background-image: url("./images/macCoffee.jpg");
    background-size: cover;
    background-attachment: fixed; }

#thirdParallax {
    height: 600px;
    background-image: url("./images/macOffice.jpg");
    background-size: cover;
    background-attachment: fixed; }

